<div class="container jumbotron jumbotron-footer text-center bg-dark mb-0 mt-4" style="margin-bottom:0">
    <div class="row">
        <div class="col-3">
            <ul class="nav justify-content-start">
                <li class="nav-item">
                    <a class="nav-link text-white" href="http://web-service-as.de/" target="_blank">Web Service AS 2019</a>
                </li>
            </ul>
        </div>
        <div class="col-3">
        </div>
        <div class="col-6">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Über</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Datenschutz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Impressum</a>
                </li>
            </ul>
        </div>
    </div>
</div>