<div *ngIf="!bIsLoaded" class="row">
    <ngb-progressbar type="warning" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar>
</div>
<div class="row" *ngIf="bIsLoaded">
    <div class="col-10">
        <div class="jumbotron">
            <div class="row no-gutters">
                <div class="col-12">
                    <p class="bg-info text-left">{{groupTitle}}</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-6">
                    <p *ngIf="game.title" class="text-uppercase">{{game.title}}</p>
                    <p *ngIf="!game.title" class="text-uppercase">Freizeitkick</p>
                </div>
                <div class="col-6">
                    <div *ngIf="game.play===9">
                        <p class="bg-danger text-uppercase">Agesagt!</p>
                    </div>
                    <div *ngIf="game.play!==9">
                        <div *ngIf="membersa?.length >= game.min">
                            <p class="bg-success text-uppercase">{{membersa?.length}} Zusage - es wird gespielt</p>
                        </div>
                        <div *ngIf="membersa?.length < game.min">
                            <p class="bg-danger text-uppercase">Noch {{iNeed}} Zusage notig!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-10">
                    <p class="text-left text-secondary">
                        <fa-icon icon="calendar-check" class=""></fa-icon>
                        {{ game.dt | date:'EEEE, dd.MM.yyyy' }}
                        <fa-icon icon="clock" class=""></fa-icon>
                        {{ game.dt | date:'HH:mm' }} Uhr
                    </p>
                    <p class="text-left text-secondary">
                        <fa-icon icon="map-marker-alt" class="" size="1x"></fa-icon>&nbsp;<span>{{place.title}}</span>
                    </p>
                    <div *ngIf="game.play===9">
                        <p class="bg-danger text-uppercase">Agesagt!</p>
                    </div>
                    <div *ngIf="game.play!==9">
                        <p *ngIf="!bDeadline" class="text-left text-danger text-uppercase">
                            Deadline Anmeldung: {{dlDays}} <span class="text-secondary dl-days">Tage</span> {{dlHours}} <span class="text-secondary dl-hours">Stunden</span> {{dlMinutes}} <span class="text-secondary dl-minutes">Minuten</span> {{dlSeconds}}
                            <span class="text-secondary dl-seconds">Sekunden</span>
                        </p>
                        <p *ngIf="bDeadline && membersa?.length < game.min" class="text-left text-danger text-uppercase">
                            Deadline Anmeldung: <span class="">Es wird nicht gespielt!</span>
                        </p>
                        <p *ngIf="bDeadline && membersa?.length >= game.min" class="text-left text-success text-uppercase">
                            <span class="">Du kannst noch einsteigen, solange Platz frei!</span>
                        </p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="">
                        <!-- <a [routerLink]="['/games', game.id]" class="btn btn-outline-dark btn-round-lg">
                            <fa-icon icon="restroom" class="" size="2x"></fa-icon>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1">
        <div class="d-flex flex-column">
            <a class="btn btn-outline-dark btn-round" (click)="onGamePlay(game,1)">
                <fa-icon icon="play" class="" size="1x"></fa-icon>
            </a>
            <div class="btn btn-outline-dark btn-round">
                <fa-icon icon="share-alt" class="" size=""></fa-icon>
            </div>
        </div>
    </div>
    <div class="col-1">
        <div class="d-flex flex-column">
            <a class="btn btn-outline-dark btn-round" (click)="onGamePlay(game,9)">
                <fa-icon icon="ban" class="" size="1x"></fa-icon>
            </a>
            <a class="btn btn-outline-dark btn-round" (click)="onGameRemove(game)">
                <fa-icon icon="trash-alt" class="" size="1x"></fa-icon>
            </a>
        </div>
    </div>
</div>
<div class="row no-gutters mb-2" *ngIf="bIsLoaded">
    <div class="col-2">
        <div *ngIf="game.play!==9">
            <a *ngIf="membersa?.length >= game.min || !bDeadline" [routerLink]="['/games', game.id]" class="text-light">
                <p class="bg-info text-left text-uppercase text-center">mitspielen</p>
            </a>
        </div>
    </div>
    <div class="col-10"></div>
</div>