<div class="row">
    <div class="col-10">
      <div class="jumbotron">
        <div class="row no-gutters">
          <div class="col-12">
            <p class="bg-info text-left text-uppercase">Wir suchen dich</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-2">
             <img src="https://soccer-center-bonn.de/assets/images/dsc-189-2000x1125.jpg" class="avatar"> 
          </div>
          <div class="col-8">
            <a [routerLink]="['/gamesg']" [queryParams]="{place_id:place.id, group_id:group.id}">
              <p class="text-left text-uppercase">{{group.title}}</p>
            </a>
            <p class="text-left font-italic">Freizeitmanschaft</p>
            <p class="text-left ">Niveu: gemischt</p>
            <p class="text-left ">Sportarten: </p>
          </div>
          <div class="col-2">
            <div class="d-flex flex-column align-items-center btn-round">
              <fa-icon icon="lock" class="icon-text"></fa-icon>
              <div class="">PRIVAT</div>
            </div>
            <div class="d-flex flex-column align-items-center btn-round">
              <fa-icon icon="euro-sign" class="icon-text"></fa-icon>
              <div class="">KOSTET</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="d-flex flex-column align-items-center justify-content-center btn-round btn-round-grey">
        <fa-icon icon="envelope" class="icon-only"></fa-icon>
      </div>
    </div>
  </div>